@media (max-width: 1024px) {

    /* MAIN - PRESENTACION */

    .presentacion h1 {
        font-size: 2.9rem;
    }

    main section:first-child div img {
        width: 540px;
    }

    /*--------------------------------------*/

    /* MAIN - DUDAS */

    .titulo-dudas {
        font-size: 2.4rem;
    }

    /*--------------------------------------*/

    /* MAIN - GUIAS */

    .div-h2 h2 {
        font-size: 2.4rem;
    }

    .flex-guia {
        flex-direction: column;
    }

    /*--------------------------------------*/

    /* MAIN - BENEFICIOS */

    main section:last-child div h2 {
        font-size: 2rem;
    }
}

/*--------------------------------------*/

@media (max-width: 931px) {

    /* MAIN - PRESENTACION */

    main section:first-child .div-h1 h1 {
        font-size: 2.7rem;
    }

    main section:first-child div img {
        width: 470px;
        height: 340px;
    }

    /*--------------------------------------*/

    /* MAIN - BENEFICIOS */

    main section:last-child {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .flex-beneficios {
        width: 600px;
    }

    main section:last-child div h2 {
        font-size: 2rem;
        padding: 25px 0;
        text-align: center;
    }

    /*--------------------------------------*/

    /* FOOTER */

    .flex-baja h4 {
        font-size: 1.5rem;
    }

    .flex-baja a {
        font-size: 1.5rem;
    }

    /*--------------------------------------*/

    /* FOOTER */

    .flex-baja h4 {
        font-size: 1.5rem;
    }

    .flex-baja a {
        font-size: 1.5rem;
    }
}

/*--------------------------------------*/

@media (max-width: 770px) {

    /* HEADER */

    .navbar button,
    .navbar-flex span {
        display: none;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    }

    .container-logo {
        grid-column: 2;
        justify-self: center;
    }

    .menu-grid {
        display: inline-block;
        padding-right: 25px;
        grid-column: 3;
        justify-self: end;
    }

    .menu-grid span {
        font-size: 40px;
    }

    /*--------------------------------------*/

    /* MAIN - PRESENTACION */

    main section:first-child {
        flex-direction: column;
        gap: 30px;
    }

    main section:first-child .div-h1 h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    main section:first-child div img {
        width: 500px;
        height: 340px;
    }

    /*--------------------------------------*/

    /* MAIN - DUDAS */

    .titulo-dudas {
        font-size: 2.3rem;
    }

    .flex-item {
        width: 400px;
    }

    /*--------------------------------------*/

    /* MAIN - GUIAS */

    .div-h2 h2 {
        font-size: 2.3rem;
    }

    .titulo h3 {
        font-size: 1.4rem;
    }

    .card {
        width: 300px;
        height: 560px;
    }

    .flex-guia:hover {
        gap: 80px;
    }

    .img-guia {
        width: 300px;
    }

    /*--------------------------------------*/

    /* MAIN - BENEFICIOS */

    .flex-beneficios {
        width: 480px;
    }

    main section:last-child div h2 {
        font-size: 1.7rem;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*--------------------------------------*/

    /* FOOTER */

    .flex-baja {
        flex-direction: column;
    }
}

/*--------------------------------------*/

@media (max-width: 600px) {

    /* HEADER */

    .navbar {
        grid-template-columns: auto auto 1fr;
    }

    .container-logo {
        padding-left: 25px;
    }
}

/*--------------------------------------*/

@media (max-width: 450px) {

    html,
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    /*--------------------------------------*/

    /* HEADER */

    .logo-seguro {
        width: 85px;
    }

    /*--------------------------------------*/

    /* MAIN - PRESENTACION */

    main section:first-child .div-h1 h1 {
        font-size: 2.2rem;
    }

    main section:first-child div img {
        width: 370px;
        height: 270px;
    }

    /*--------------------------------------*/

    /* MAIN - DUDAS */

    .titulo-dudas {
        font-size: 1.8rem;
    }

    .flex-item {
        width: 320px;
    }

    .flex-item p {
        font-size: 1rem;
    }

    /*--------------------------------------*/

    /* MAIN - GUIAS */

    .div-h2 h2 {
        font-size: 1.8rem;
    }

    .titulo h3 {
        font-size: 1.5rem;
    }

    .card {
        width: 330px;
        height: 550px;
    }

    .img-guia {
        width: 330px;
    }

    .descripcion p {
        font-size: 1rem;
    }

    /*--------------------------------------*/

    /* MAIN - BENEFICIOS */

    .flex-beneficios {
        width: 350px;
        text-align: center;
    }

    main section:last-child div h2 {
        font-size: 1.5rem;
        padding-left: 25px;
        padding-right: 25px;
    }

    /*--------------------------------------*/

    /* FOOTER */

    footer p {
        font-size: 1rem;
    }
}

/*--------------------------------------*/

@media (max-width: 375px) {

    /* MAIN - PRESENTACION */

    main section:first-child .div-h1 h1 {
        font-size: 1.9rem;
    }

    main section:first-child div img {
        width: 350px;
        height: 250px;
    }

    /*--------------------------------------*/

    /* MAIN - DUDAS */

    .titulo-dudas {
        font-size: 1.7rem;
    }

    .flex-item {
        width: 280px;
    }

    .flex-item p {
        font-size: .7rem;
    }

    /*--------------------------------------*/

    /* MAIN - GUIAS */

    .div-h2 h2 {
        font-size: 1.7rem;
    }

    .titulo h3 {
        font-size: 1.3rem;
    }

    .card {
        width: 300px;
        height: 550px;
    }

    .img-guia {
        width: 300px;
    }

    .descripcion p {
        font-size: 1rem;
    }

    /*--------------------------------------*/

    /* MAIN - BENEFICIOS */

    .flex-beneficios {
        width: 330px;
    }

    main section:last-child div h2 {
        font-size: 1.3rem;
    }

    /*--------------------------------------*/

    /* FOOTER */

    .flex-baja h4{
        font-size: 1.5rem;
        text-align: center;
    }

    footer p {
        font-size: 1rem;
    }
}