@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------------------------------------  */

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanco: #ffffff;
    --azul: #0056b8;
    --borde: rgba(91, 91, 91, 0.23);
    --fondo: rgb(161, 161, 161);
}

/* ------------------------------------------  */

/* BODY */

body {
    font-family: "Barlow", sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

/* ------------------------------------------  */

/* HEADER  */

header {
    position: fixed;
    width: 100%;
    background-color: var(--blanco);
    border-bottom: 1px solid var(--borde);
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.navbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--azul);
    height: 40px;
    width: 130px;
    border: none;
}

.navbar button:hover {
    cursor: pointer;
}

.navbar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar button p {
    font-family: "Barlow", sans-serif;
    color: var(--blanco);
    font-weight: 500;
    padding: 20px;
}

.logo-seguro {
    width: 100px;
}

/* ------------------------------------------  */

/* MAIN - PRESENTACION */

main {
    padding-top: 125px;
}

main section:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
    border-bottom: 1px solid var(--borde);
}

.presentacion .div-h1 {
    width: 450px;
}

.presentacion h1 {
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 10px;
}

.presentacion div img {
    height: 400px;
    padding: 10px;
}

/* ------------------------------------------  */

/* MAIN - DUDAS */

main section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 80px 0;
    border-bottom: 1px solid var(--borde);
}

.titulo-dudas {
    font-weight: 400;
    font-size: 2.7rem;
}

.flex-dudas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 25px;
    padding: 20px;
    margin-top: 30px;
}

.flex-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 30px;
    border: 1px solid var(--fondo);
    border-radius: 20px;
    width: 450px;
    transition: box-shadow 0.3s ease-in-out;
}

.flex-item:hover {
    cursor: pointer;
    box-shadow: 5px 11px 5px 2px var(--borde);
}

.flex-item div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.material-symbols-outlined {
    padding: 5px;
    text-align: center;
    font-size: 35px;
}

.flex-item p {
    font-weight: 400;
    font-size: 1.2rem
}

/* ------------------------------------------  */

/* MAIN - GUIAS */

main section:nth-child(3) {
    padding: 80px 0;
}

.div-h2 h2 {
    font-weight: 400;
    font-size: 2.7rem;
}

.flex-guia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
    padding-top: 45px;
    overflow: visible;
}

.card {
    border: 1px solid var(--fondo);
    width: 380px;
    height: 550px;
    transition: box-shadow, transform 0.4s ease-in-out;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 5px 11px 5px 2px rgba(0, 0, 0, 0.23);
    transform: scale(1.15);
    position: relative;
    z-index: 200;
    background-color: var(--blanco);
}

.img-guia {
    width: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.titulo h3 {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

.descripcion p {
    padding: 10px;
    font-weight: 400;
}

.div-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column wrap;
    height: 60px;
}

.btn-guia {
    font-weight: 500;
    color: var(--blanco);
    background-color: var(--azul);
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.btn-guia:hover {
    cursor: pointer;
    background-color: var(--blanco);
    color: var(--azul);
    border: 2px solid var(--azul);
}

/* ------------------------------------------  */

/* MAIN - BENEFICIOS */

main section:last-child{
    padding: 80px 0;
}

.flex-beneficios {
    border: 1px solid var(--fondo);
    border-radius: 20px;
    box-shadow: 0px 2px 26px -4px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.flex-beneficios h2 {
    font-weight: 400;
    padding: 25px;
    font-size: 2.2rem;
}

.flex-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 50px;
}

.card-beneficios h5 {
    font-size: 1rem;
    padding: 7px;
}

.card-beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-size: 0.9rem;
    padding: 7px;
    width: 200px;
    height: 200px;
    text-align: center;
}

/* ------------------------------------------  */

/* FOOTER */

.flex-baja {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #efefef8b;
}

.flex-baja h4 {
    font-size: 1.7rem;
    font-weight: 400;
}

.flex-baja a {
    color: var(--azul);
    font-size: 1.7rem;
    font-weight: 400;
}

footer p {
    text-align: center;
    font-weight: 500;
    padding: 40px;
}

/* ------------------------------------------  */